html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.bg-image {

    background-image: url(./Images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;

}

.blur {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.1); 
    height: 100vh;
    position: absolute;
	width: 100%;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .bg-image {
      filter: blur(10px);
      transform: scale(1.03);
    }
  }

.container {
    position: relative;
}

header.container {
    padding: 30px 0 6.25rem;
    padding-left: 0;
    padding-right: 0;
}

#heading {
    background: rgba(0,0,0,0.5);
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(83 208 143);
    font-size: 3rem;
    padding: 20px 0px;
    text-transform: uppercase;
}

#heading span {
    color: rgb(100, 167, 132);
}

main.container {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

blockquote p {
    padding: 10px;
    text-align: justify;
}

blockquote p::before {
    content: '\201C\ ';
    color: rgb(130, 130, 130);
    font-size: 1.1em;
}

blockquote p::after {
    content: '\ \201D';
    color: rgb(130, 130, 130);
    font-size: 1.1em;
}

figcaption.blockquote-footer {
    text-align: right;
    margin-right: 10px;
    font-style: italic;
    color: rgba(256,256,256,0.7);
}

textarea {
    background:rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(0,0,0);
    border-radius: 10px;
    color: #00ff9f;
    height: 15rem;
    margin: 20px 0;
    padding: 10px;
    resize: none;
    text-align: justify;
    width: 100%;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

textarea::-webkit-scrollbar {
    display: none;
}

#again-btn {
    border-radius: 10px;
    display: none;
    font-size: 1em;
    margin-right: 2px;
    padding: .7rem 2rem;
}

.incorrect {
    color: #5f5f5f;
}

#speed {
    font-size: 3rem;
    text-align: left;
}

#speed span {
    color: #21d08e;
}

@media (max-width: 1536px) {
    html {
        font-size: 13.5px;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (max-device-width: 480px) {
    textarea, figcaption, .score, blockquote p::before, blockquote p::after {
        display: none;
    }
}

@media only screen and (max-device-height: 480px) {
    textarea, figcaption, .score, blockquote p::before, blockquote p::after {
        display: none;
    }
}